!!! xml
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
%html{'xml:lang' => 'es_AR',  'xmlns' => 'http://www.w3.org/1999/xhtml',
                              'xmlns:dc' => "http://purl.org/dc/terms/"}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %title Cómo no ser visto | #{@item[:titulo]}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/estilos/reset.css", :media => "screen"}
    %link{:rel => "stylesheet", :title => "general", :type => "text/css",
          :href => "/estilos/comonoservisto.css", :media => "screen"}
    %meta{:name => "generator", :content => "nanoc 3.1.2"}
  %body
    #barra
      #secciones
        %h1 Secciones
        - inicio = @items.find { |i| i.reps[0].path == '/' }
        %ul.menu
          %li= link_to(inicio[:titulo], inicio.reps[0])
          - inicio.children.each do |pagina|
            %li
              = link_to(pagina[:titulo], pagina.reps[0]) if pagina.reps[0].name == :menu
              - unless pagina.children.empty?
                %ul.submenu
                  - pagina.children.each do |subpagina|
                    %li= link_to(subpagina[:titulo], subpagina.reps[0]) if subpagina.reps[0].name == :menu
      #indice
        %h1 Contenido
    #contenido= yield
    #pie
      %p{:about => "", :resource => "http://www.w3.org/TR/CSS2/", :rel => "dc:conformsTo"}
        %a{:href => "http://jigsaw.w3.org/css-validator/check/referer"}
          %img{:src => "/imagenes/css.png", :alt => "CSS 2.1 válido"}
      %p{:about => "", :resource => "http://www.w3.org/TR/rdfa-syntax", :rel => "dc:conformsTo"}
        %a{:href => "http://validator.w3.org/check?uri=referer"}
          %img{:src => "/imagenes/xhtml-rdfa.png", :alt => "XHTML + RDFa válido"}
