- unless @item[:obras].nil?
  %ul
    - @item[:obras].each do |obra|
      %li.obra
        %span{:href => "http://purl.org/dc/dcmitype/StillImage", :property => "dct:title", :rel => "dct:type"}
          = "#{link_to obra, "/copyleft/fuentes/#{obra}", :rel => 'dct:source'} by #{link_to 'La Inventoría',
            'http://lainventoria.com.ar', :property => 'cc:attributionName',
            :rel => 'cc:attributionURL'} is licensed under a #{link_to 'Creative Commons Attribution-ShareAlike 3.0 Unported License',
            'http://creativecommons.org/licenses/by-sa/3.0/', :rel => 'license'}."
        = "Permissions beyond the scope of this license may be available at #{link_to 'http://lainventoria.com.ar',
          'http://lainventoria.com.ar', :rel => "cc:morePermissions"}."
        %a{:rel => "license", :href => "http://creativecommons.org/licenses/by-sa/3.0/"}
          %img{:alt => "Creative Commons License", :src => "http://i.creativecommons.org/l/by-sa/3.0/80x15.png"} 
